$input-border-color: #d4d4d4;
$pagination-button-color: #000;
$pagination-button-text-color: #fff;

input {
    padding: 0.5rem;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.pagination {
    &__input {
        text-align: center;
    }

    &__button {
        border-radius: 0;
        background: $pagination-button-color;
        color: $pagination-button-text-color;
        padding: 0.25rem 0.75rem;
        align-self: stretch;
        display: flex;
        align-items: center;

        &_left {
            i {
                margin-right: 0.5rem;
            }
        }

        &_right {
            i {
                margin-left: 0.5rem;
            }
        }
    }
}

.emoticons {
    font-size: 1rem;

    &__loader {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    &__table-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__table-footer {
        display: flex;
        justify-content: flex-end;
    }

    &__search {
        align-items: center;
        display: inline-flex;

        input {
            flex: 1;
            margin-left: 0.5rem;
        }
    }

    &__pagination {
        align-items: center;
        display: inline-flex;

        input {
            flex: 1;
            width: 3rem;
        }
    }

    &__table {
        margin-top: 1.5rem;

        th,
        td {
            font-size: 0.875rem;
        }

        img {
            max-height: 5rem;
        }
    }

    &__table-row-action {
        font-size: 1rem;

        i {
            margin-right: 0.25rem;
        }
    }
}

.emoticon-form {
    label {
        margin: 0;
        padding: 0.5rem;
        text-align: right;
        width: 10rem;
    }

    input,
    select {
        border: 1px solid $input-border-color !important;
        flex: 1;
        width: 100% !important;
        font-size: 1rem;
        height: 2.25rem;
        line-height: 1;
        padding: 0.5rem 1rem;
    }

    &__group {
        align-items: center;
        display: flex;
        margin-bottom: 1.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
