<div>
  <router-link :to="{ name: 'add-banned-user'}" class="sc-btn sc-btn-rounded sc-btn-lg sc-btn-primary"
    >+ ADD</router-link
  >

  <div class="sc-pagination">
    <h1 class="sc-pagination-label">Pagination</h1>
    <div class="sc-pagination-form">
      <input
        class="sc-btn sc-btn-secondary sc-pagination-btn"
        v-if="currentPage > 1"
        type="submit"
        value="Prev"
        v-on:click="pagination(currentPage - 1)"
      />
      <input
        class="sc-pagination-input"
        type="number"
        min="1"
        :max="totalPage"
        name=""
        v-model="currentPage"
        @keyup.enter.prevent="pagination(currentPage)"
      />
      <input
        class="sc-btn sc-btn-secondary sc-pagination-btn"
        v-if="totalPage > currentPage"
        type="submit"
        value="Next"
        v-on:click="pagination(currentPage+1)"
      />
    </div>
  </div>

  <div class="sc-filter">
    <div class="sc-filter-item">
      <label class="sc-filter-label">Search Users: </label>
      <input class="sc-filter-input" type="input" v-model="search" @keyup="searchQuery" />
    </div>
  </div>
  <div class="loader" v-if="is_loading">
    <ball-pulse-loader color="#000000" size="20px"></ball-pulse-loader>
  </div>
  <div class="sc-table-responsive">
    <table class="sc-table">
      <thead>
        <tr>
          <th width="300px">
            Username
            <sortField field="username" :sort="sortParam" @sort="sort" />
          </th>
          <th width="140px">Action</th>
        </tr>
      </thead>
      <tbody>
        <TableEmpty :cols="3" v-if="!(allBanneduser && allBanneduser.length)" />

        <tr v-for="banneduser in allBanneduser">
          <td>{{banneduser.username}}</td>
          <td>
            <div>
              <router-link :to="`/banneduser/edit/${banneduser._id}`">
                <span title="Edit" aria-hidden="true" class="fa fa-pencil btn_edit"></span>
              </router-link>
              <span
                title="Export"
                aria-hidden="true"
                class="fa fa-arrow-up btn_delete"
                v-on:click="trash(banneduser._id)"
              ></span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
