$bodybg: #F1F1F1;
$bodycolor: #000000;
$white: #ffffff;
$black: #231F20;
$blackpure2: #222222;
$blackpure: #000000;
$pink: #F09AB9;
$pinkalt: #F384A7;
$pinkalt2: #F083A6;
$pinkdark: #B32656;
$pinkdarker: #B02B56;
$pinkdarkers: #B02A56;
$pinkstar: #FFC4DB;
$pinklight: #FDF4F9;
$red: #DA2A52;
$redalt: #F12E2B;
$grey: #999999;
$greyalt: #979797;
$greyalt2: #ccc;
$greynew: #8C8582;
$greylight: #E5E5E5;
$greylightalt: #D5D5D5;
$greylighter: #F1F1F1;
$greylighters: #F8F8F8;
$greylighters2: #F5F5F5;
$greydark: #6D6D6D;
$greydark2: #333;
$greyfooter: #F9F6F9;
$greyblock: #F1F1F1;
$gold: #F5A623;
$goldalt: #F2B44F;
$invalid: #E31D1A;
$peach: #FCE2E2;
$radius: 2px;

$fonttype_b:    'lato-regular', sans-serif;
$fonttype_c:    'lato-bold', sans-serif;
$fonttype_d:    'lato-medium', sans-serif;
$fonttype_e:    'ElegantIcons';

@mixin border-radius($value) {
    -o-border-radius: $value;
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
}

@mixin transform($value) {
    -o-transform: $value;
    -webkit-transform: $value;
    -moz-transform: $value;
    transform: $value;
}

@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
    transition: $value;
}

@mixin flex() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@mixin center() {
    align-items:center;
    justify-content:center;
}

@mixin circlecenter($width,$height,$background: #fff) {
    @include flex();
    @include center();
    @include border-radius(50%);
    width:$width;
    height:$height;
    background:$background;
}

@mixin squarecenter($width,$height,$background: #fff) {
    @include flex();
    @include center();
    width:$width;
    height:$height;
    background:$background;
}

@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}
// input,
// textarea {
//     @include placeholder {
//         color: $grey;
//     }
// }

@mixin filter($filter-type, $filter-amount) {
    -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
    -moz-filter: $filter-type+unquote('(#{$filter-amount})');
    -ms-filter: $filter-type+unquote('(#{$filter-amount})');
    -o-filter: $filter-type+unquote('(#{$filter-amount})');
    filter: $filter-type+unquote('(#{$filter-amount})');
}
// grayscale      ex: filter: grayscale(100%);
// sepia          ex: filter: sepia(100%);
// saturate       ex: filter: saturate(0%);
// hue-rotate     ex: filter: hue-rotate(45deg);
// invert         ex: filter: invert(100%);
// brightness     ex: filter: brightness(15%);
// contrast       ex: filter: contrast(200%);
// blur           ex: filter: blur(2px);

@mixin opacity($value){
    $IEValue: $value*100;
    opacity: $value;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
    filter: alpha(opacity=$IEValue);
}
// @include opacity(0.8);

@mixin border-box() {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
// @include border-box();

@mixin clearfix() {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin vertical-align($position:relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
//@include vertical-align();

@mixin background-size($background-size) {
    -webkit-background-size: $background-size;
     -moz-background-size: $background-size;
       -o-background-size: $background-size;
          background-size: $background-size;
}

@mixin title() {
    .title {font-family:$fonttype_c;font-size:14px;padding:0;margin:0;height:48px;display:flex;align-items:center;flex-wrap:wrap;letter-spacing:2px;
        span {display:block;width:100%;
            &.info {font:normal 12px/15px $fonttype_b;color:$greydark;letter-spacing:normal;
                a {font-family:$fonttype_d;}
            }
        }
    }
}

@mixin title-new() {
    .title {font-family:$fonttype_c;font-size:15px; line-height: 15px; padding:0;margin:0;height:48px;display:flex;align-items:center;flex-wrap:wrap;letter-spacing:2.14px;
        span {display:block;width:100%;
            &.info {font:normal 12px/15px $fonttype_b;color:$greydark;letter-spacing:normal;
                a {font-family:$fonttype_d;}
            }
        }
    }
}

//MIXIN TEXT
@mixin text($color, $size, $spacing,$line){
    color: $color;
    font-size: $size;
    letter-spacing: $spacing;
    line-height: $line;
}

@mixin input_default() {
    .field {position:relative;
        .label {font:normal 14px/20px $fonttype_b;margin:0 0 4px;display:block;}
    }
    .fieldinput {position:relative;
        .text {display:flex;width:100%;height:40px;align-items:center;border:solid 1px $greylight;border-radius:2px;padding:0 12px;font:normal 14px/14px $fonttype_b;color:$blackpure;
            &.withicon {padding-right:50px;}
        }
    }
}

@mixin title-web() {
    .title {font-family:$fonttype_c;font-size:14px;padding:0;padding-top:0px;margin-top:0px;margin-bottom:8px;height:48px;display:flex;align-items:center;flex-wrap:wrap;letter-spacing:2px;
        &.small{color:$black;height:auto;margin-top:0;margin-bottom: 9px;font:normal 12px/15px $fonttype_d;letter-spacing:unset;}
        &.center{height:20px;margin-top:24px;margin-bottom: 22px;letter-spacing:1.93px;font-size:18px;}
        &.beauty-blank{margin-bottom: 0;}
        &.no-margin{margin:0;}
        &.title-form-center{color:$black;height:auto;margin:0 auto;font: 16px $fonttype_c;text-align:center;}
        .wrapper{position: relative;width: 100%;
            span {display:block;width:100%;
                &.info {font:normal 13px $fonttype_b;color:$greynew;margin-top:1px;letter-spacing: normal;
                    a {font-family:$fonttype_d;color: $pinkalt;}
                }
            }
            .more-info{position: absolute;top: 0;right: 0;bottom: 0;color: $pinkalt;font: 13px $fonttype_d;letter-spacing:normal;}
        }
    }
}

@mixin ratingstar($value) {
    $newvalue: ceil($value / 10);
    $rounddown: floor($value / 10);
    @for $i from 1 to $newvalue + 1 {
        @if($i == 1) {
            span:nth-child(1):before {width:100%;}
        } @else {
            @if($i == $newvalue) {
                @if($value - ($rounddown * 10) == 0) {
                    span:nth-child(#{$i}):before {width:100%;}
                } @else {
                    span:nth-child(#{$i}):before {width:percentage(($value - ($rounddown * 10)) / 10);}
                }
            } @else {
                span:nth-child(#{$i}):before {width:100%;}
            }
        }
    }
}

@for $i from 10 to 51 {
    .rs-#{$i} {@include ratingstar($i);}
}

@function multi3x($value) {
    @return 3 * $value;
}

@function multi4x($value) {
    @return 4 * $value;
}


@mixin ratingstar($value) {
    $newvalue: ceil($value / 10);
    $rounddown: floor($value / 10);
    @for $i from 1 to $newvalue + 1 {
        @if($i == 1) {
            span:nth-child(1):before {
                width: 100%!important;
            }
        } @else {
            @if($i == $newvalue) {
                @if($value - ($rounddown * 10) == 0) {
                    span:nth-child(#{$i}):before {
                        width: 100%!important;
                    }
                } @else {
                    span:nth-child(#{$i}):before {
                        width: percentage(($value - ($rounddown * 10)) / 10)!important;
                    }
                }
            } @else {
                span:nth-child(#{$i}):before {
                    width: 100%!important;
                }
            }
        }
    }
}

@for $i from 10 to 51 {
    .rate-star--uniform-#{$i} {
        @include ratingstar($i);
    }
}