//please move to proper style sheet
a.delete-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: black;
  background: rgba(0, 0, 0, 0.22);
  padding: 5px;
  border-radius: 50%;
  padding: 0;
  font-size: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.button {
  box-sizing: border-box;
  padding: 0 10px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.freebies-page {
  .product-list img {
    width: auto;
    height: 39px;
    margin-right: 15px;
  }

  .product-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .quillWrapper {
    flex: 1;
    background: white;
  }

  .multiselect {
    flex: 1;
  }

  h2.title {
    display: flex;
    text-align: left;
    font-size: 23px;
    width: 100%;
    height: 52px;
    border-radius: 5px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
    background-color: #fff4f7;
    align-items: center;
    padding: 0 20px;
    margin: 20px 0;
  }
}


.rate-star--uniform {
  display: inline-flex;
  width: 73px;

  span {
    display: block;
    width: 13px;
    height: 12px;
    // background: transparent url("../img/rating-grey-star.svg") no-repeat 0 0;
    background-size: 13px 12px;
    margin: 0 0 0 2px;
    cursor: pointer;

    &:before {
      content: "";
      display: block;
      width: 0;
      height: 12px;
      // background: #ffffff url("../img/rating-pink-star.svg") no-repeat 0 0;
      background-size: 13px 12px;
    }
  }

  .average-rating--uniform {
    height: 17px;
  }
}

.multiselect * {
  box-sizing: border-box;
  font-size: 13px;
}