$submit-button-background-color: #000;
$submit-button-text-color: #fff;

$is-background: #00000014;
$is-trigger-text-color: #dc6e9e;
$is-placeholder-background: #d5d5d5;
$is-placeholder-text-color: #999;

#form-journal{
    width: 650px !important;
    float:left;
}

#form-right{
    float: left;
    margin-left: 50px;
}

.title{
    line-height: 41px;
    font-family: 'lato-regular', sans-serif;
    font-size: 30px;
    text-transform: capitalize;
}

.detail-content{
    width: 700px;
}

.desc{
    float: left;
    max-width: 400px;
    text-align: justify;
}

.preview-image{
    float: right;
    max-width: 300px;
}

.content_add
{
    display:inline-block;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding-top: 10px;
    padding-left:75px;
    padding-right:75px;
}
.modal-header {
    display: inherit;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 0 solid #e9ecef;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.custom--input .modal--upload-picture .croppa-container, .page--create-detail .modal--upload-picture .croppa-container {
    height: 460.8px;
    background-color: #00000014;
}
.fieldarea
{
    margin:0 auto;
    display:block;
    text-align:center;

}
.field.fieldinfo {
    color: #999999;
    position: relative;
    top: 47px;
}
.modal--upload-picture .modal-upload-foto-save {
    background-color:#f780a7;
    color: #fff;
    border-color: #f09ab9;
    padding: 6px 0;
  
    /* font-size: 12px; */
    letter-spacing: .43px;
    /* position: absolute; */
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top:2%;
    width: 128px;
    opacity: 0.8;
}
.modal--upload-picture .modal-upload-foto-save:hover
{
    color:#fff;
}

.label-post {
    color: #222 !important;
    font: 17px 'lato-regular', sans-serif !important;
    font-weight: bold !important;
    margin-bottom: 5px !important;
}

.image-selector {
    background: $is-background;
    padding: 1rem;
    width: 100%;
  
    &__title {
      font-weight: bold;
      font-size: 0.65rem;
      text-transform: uppercase;
    }
  
    &_selected &__image {
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  
    &__image {
      cursor: pointer;
  
      &_placeholder {
        align-items: center;
        border: 1px dashed $is-placeholder-background;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 7.875rem;
  
        p {
          color: $is-placeholder-text-color;
          font: 0.8125rem 'lato-regular', sans-serif;
          line-height: 1.0625rem;
          text-align: center;
        }
      }
    }
  
    &__trigger {
      color: $is-trigger-text-color !important;
      margin-top: 1rem;
    }
  }
  
  .banner-form {
    label {
      margin: 0;
      padding: 0.5rem;
      text-align: right;
      width: 10rem;
    }
  
    input,
    select {
      flex: 1;
      width: 100% !important;
      font-size: 1rem;
      height: 2.25rem;
      padding: 0.5rem 1rem;
    }
  
    &__loader {
      position: absolute;
      top: 50%;
      left: 50%;
    }
  
    &__title {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
  
    &__group {
      align-items: center;
      display: flex;
      margin-bottom: 1.5rem;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  
    &__file-input {
      display: none;
    }
  
    &__submit {
      background: $submit-button-background-color;
      color: $submit-button-text-color;
      font-size: 1rem;
      margin-left: auto;
      padding: 0.75rem 1.5rem;
    }
  }

p.alert {
  margin: 0;
  font-size: 12px;
  padding: 0;
  color: #E31D1A;
}