<div>
  <div class="sc-form">
    <div class="loader">
      <ball-pulse-loader v-if="is_loading" color="#000000" size="20px"></ball-pulse-loader>
    </div>
    <div class="sc-form-title">BANNER</div>

    <form id="formBanner" data-vv-scope="formBanner" class="sc-form-container">
      <div class="sc-form-group" :class="{'has-error': errors.has('formBanner.name') }">
        <label for="brand_name" class="sc-form-label">Name</label>
        <div class="sc-form-child-group">
          <input
            class="sc-form-input"
            id="name"
            name="name"
            type="text"
            v-model="banner.name"
            v-validate="'required'"
          />

          <p v-show="errors.has('formBanner.name')" class="alert">{{ errors.first('formBanner.name') }}</p>
        </div>
      </div>

      <div v-if="!isBeautyBanner" class="sc-form-group" :class="{'has-error': errors.has('formBanner.url') }">
        <label for="brand_name" class="sc-form-label">URL</label>
        <div class="sc-form-child-group">
          <input class="sc-form-input" id="url" name="url" type="text" v-model="banner.url" />

          <p v-show="errors.has('formBanner.url')" class="alert">{{ errors.first('formBanner.name') }}</p>
        </div>
      </div>

      <div
        v-if="!isBeautyBanner && !isNonLoginUser"
        class="sc-form-group"
        :class="{'has-error': errors.has('formBanner.mobile_location') }"
      >
        <label for="brand_name" class="sc-form-label">Mobile Location</label>
        <div class="sc-form-child-group">
          <multiselect
            id="type"
            v-model="banner.mobile_locations"
            :options="options"
            :searchable="true"
            :multiple="false"
            placeholder=""
            open-direction="bottom"
            :clear-on-select="true"
            :close-on-select="true"
            :show-no-results="true"
            :hide-selected="true"
            class="sc-form-input"
          >
          </multiselect>

          <p v-show="errors.has('formBanner.screen_type')" class="alert">{{ errors.first('formBanner.location') }}</p>
        </div>
      </div>

      <div
        v-if="!isReviewReminder && !isWhatYouLove"
        class="sc-form-group"
        :class="{'has-error': errors.has('formBanner.location') }"
      >
        <label for="brand_name" class="sc-form-label">Location</label>
        <div class="sc-form-child-group">
          <select
            class="sc-form-input"
            id="type"
            v-model="banner.location"
            required
            name="location"
            v-validate="'required'"
          >
            <option v-for="option in locationOptions" :key="option.value" :value="option.value" v-show="option.show">
              {{ option.label }}
            </option>
          </select>

          <p v-show="errors.has('formBanner.location')" class="alert">{{ errors.first('formBanner.location') }}</p>
        </div>
      </div>

      <div
        v-if="isBeautyBanner && !isNonLoginUser"
        class="sc-form-group"
        :class="{'has-error': errors.has('formBanner.header_title') }"
      >
        <label for="header_title" class="sc-form-label">HEADER TITLE</label>
        <div class="sc-form-child-group">
          <input
            class="sc-form-input"
            id="header_title"
            name="header_title"
            type="text"
            v-model="banner.header_title"
          />

          <p v-show="errors.has('formBanner.header_title')" class="alert">
            {{ errors.first('formBanner.header_title') }}
          </p>
        </div>
      </div>

      <div
        v-if="isBeautyBanner"
        class="sc-form-group"
        :class="{'has-error': errors.has('formBanner.more_info_description') }"
      >
        <label for="more_info_description" class="sc-form-label">More Info Description</label>
        <div class="sc-form-child-group">
          <TextEditor
            id="description"
            v-model="banner.more_info_description"
            label="More Info Description"
            class="sc-form-group sc-form-group-full"
            required
          />

          <p v-show="errors.has('formBanner.more_info_description')" class="alert">
            {{ errors.first('formBanner.more_info_description') }}
          </p>
        </div>
      </div>

      <!-- <div v-if="isBeautyBanner" class="sc-form-group" :class="{'has-error': errors.has('formBanner.url') }">
        <label for="brand_name" class="sc-form-label">SHORT DESCRIPTION</label>
        <div class="sc-form-child-group">
          <input
            class="sc-form-input"
            id="short_description"
            name="description"
            type="text"
            v-model="banner.short_description"
          />

          <p v-show="errors.has('formBanner.short_description')" class="alert">{{ errors.first('formBanner.name') }}</p>
        </div>
      </div> -->

      <div v-if="isBeautyBanner" class="sc-form-group">
        <label for="brand_name" class="sc-form-label">Eligibility</label>
        <div class="sc-form-child-group">
          <select class="sc-form-input" id="type" v-model="banner.eligibility.category" required name="type">
            <option value="level" selected="selected">Level User</option>
            <option value="user">List User</option>
          </select>
        </div>
      </div>

      <div v-if="isBeautyBanner && banner.eligibility.category == 'user'" class="sc-form-group">
        <label for="csv_link" class="sc-form-label">List User (CSV)</label>
        <input
          id="thisFile"
          ref="select-csv"
          hidden
          type="file"
          name="thisFile"
          class="sc-form-input"
          accept=".csv"
          @change="selectCsv($event.target.files)"
        />
        <div class="sc-row-items" style="width: max-content">
          <button class="sc-btn sc-btn-rounded sc-btn-sm sc-mr-10" @click.prevent="$refs['select-csv'].click()">
            Browse
          </button>
          <span>{{ csv_name || 'No file selected' }}</span>
        </div>
      </div>

      <div v-if="isBeautyBanner && banner.eligibility.category == 'level'" class="sc-form-group">
        <label for="csv_link" class="sc-form-label">Level User</label>
        <multiselect
          id="type"
          v-model="banner.eligibility.list"
          :options="roles"
          :searchable="true"
          :multiple="true"
          placeholder=""
          open-direction="bottom"
          :clear-on-select="true"
          :close-on-select="true"
          :show-no-results="true"
          :hide-selected="true"
          class="sc-form-input"
        >
        </multiselect>
      </div>

      <div v-if="isBeautyBanner" class="sc-form-group">
        <label for="urutan" class="sc-form-label">Voucher Banner - Order</label>
        <div class="sc-form-child-group">
          <select class="sc-form-input" id="order" name="order" v-model="banner.order">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
            <option value="37">37</option>
            <option value="38">38</option>
            <option value="39">39</option>
            <option value="40">40</option>
            <option value="41">41</option>
            <option value="42">42</option>
            <option value="43">43</option>
            <option value="44">44</option>
            <option value="45">45</option>
            <option value="46">46</option>
            <option value="47">47</option>
            <option value="48">48</option>
            <option value="49">49</option>
            <option value="50">50</option>
          </select>
        </div>
      </div>

      <div v-if="isBeautyBanner" class="sc-form-group sc-form-group-half">
        <div class="sc-form-group">
          <label class="sc-form-label" for="tag-name">Set Date</label>
          <div class="sc-form-group sc-form-group-full sc-row">
            <div class="sc-row-item">
              <label class="sc-form-label" for="tag-category">From</label>
              <datetime
                v-model="banner.start_date"
                input-class="sc-form-input"
                input-style="overflow: hidden; flex: 1; display: block; width: 100%; padding-left: 10px;"
                type="datetime"
              ></datetime>
            </div>
            <div class="sc-row-item">
              <label class="sc-form-label" for="tag-category">To</label>
              <datetime
                v-model="banner.end_date"
                input-class="sc-form-input"
                input-style="overflow: hidden; flex: 1; display: block; width: 100%; padding-left: 10px;"
                type="datetime"
              ></datetime>
            </div>
          </div>
        </div>
      </div>

      <template v-if="isReviewReminder || isWhatYouLove">
        <div class="sc-form-group">
          <div class="sc-form-child-group row-new">
            <input
              class=""
              id="id_platform"
              name="id_platform"
              type="checkbox"
              v-model="banner.platform.id.is_enabled"
              @change="checkActiveBanner(banner)"
            />
            <label for="id_platform" class="sc-form-label">Enable in ID</label>
          </div>
        </div>

        <div class="sc-form-group">
          <label for="header_title" class="sc-form-label"> Title Text</label>
          <div class="sc-form-child-group">
            <input
              class="sc-form-input"
              id="header_title"
              name="header_title"
              type="text"
              v-model="banner.platform.id.title"
            />
          </div>
        </div>

        <div class="sc-form-group">
          <label for="more_info_description" class="sc-form-label">Description Text</label>
          <div class="sc-form-child-group">
            <TextEditor
              id="description"
              v-model="banner.platform.id.text"
              label="More Info Description"
              class="sc-form-group sc-form-group-full"
              required
            />
          </div>
        </div>

        <div class="sc-form-group">
          <div class="sc-form-child-group row-new">
            <input
              class=""
              id="id_platform"
              name="id_platform"
              type="checkbox"
              v-model="banner.platform.vn.is_enabled"
              @change="checkActiveBanner(banner)"
            />
            <label for="id_platform" class="sc-form-label">Enable in VN</label>
          </div>
        </div>

        <div class="sc-form-group">
          <label for="header_title" class="sc-form-label"> Title Text</label>
          <div class="sc-form-child-group">
            <input
              class="sc-form-input"
              id="header_title"
              name="header_title"
              type="text"
              v-model="banner.platform.vn.title"
            />
          </div>
        </div>

        <div class="sc-form-group">
          <label for="more_info_description" class="sc-form-label">Review Reminder Text</label>
          <div class="sc-form-child-group">
            <TextEditor
              id="description"
              v-model="banner.platform.vn.text"
              label="More Info Description"
              class="sc-form-group sc-form-group-full"
              required
            />
          </div>
        </div>
      </template>

      <div v-if="!isNonLoginUser" class="sc-form-group" :class="{'has-error': errors.has('formBanner.screen_type') }">
        <label for="brand_name" class="sc-form-label">Type</label>
        <div class="sc-form-child-group">
          <select class="sc-form-input" id="type" v-model="banner.screen_type" required name="type">
            <option value="mobile-ios">Mobile Apple iOS</option>
            <option value="mobile-android">Mobile Android</option>
            <option value="desktop-web">Desktop Web</option>
            <option value="mobile-web">Mobile Web</option>
            <option value="mobile-floating-ios">Mobile Floating IOS</option>
            <option value="mobile-floating-android">Mobile Floating Android</option>
            <option value="mgm-ios">MGM Link IOS</option>
            <option value="mgm-android">MGM Link Android</option>
            <option value="popup-desktop-web">Popup Desktop Web</option>
            <option value="popup-mobile-web">Popup Mobile Web</option>
            <option value="popup-ios">Popup IOS</option>
            <option value="popup-android">Popup Android</option>
          </select>

          <p v-show="errors.has('formBanner.screen_type')" class="alert">
            {{ errors.first('formBanner.screen_type') }}
          </p>
        </div>
      </div>

      <MobileAppsLinkPicker
        v-if="!isBeautyBanner && !isReviewReminder && !isWhatYouLove && !isNonLoginUser"
        :data="banner.more_info"
        @callback="setMoreInfo"
      />

      <div v-if="!isBeautyBanner && !isReviewReminder && !isWhatYouLove && !isNonLoginUser" class="sc-form-group">
        <label for="brand_name" class="sc-form-label">Location On How To earn</label>
        <div class="sc-form-child-group">
          <select class="sc-form-input" id="type" v-model="banner.more_info.location_key" required name="type">
            <!-- <option value="title-desktop">Title Section Desktop</option>
            <option value="title-mobile">Title Section Mobile</option>
            <option value="aboutreward-desktop">About Reward Section Desktop</option>
            <option value="aboutreward-mobile">About Reward Section Mobile</option>
            <option value="benefit-desktop">Benefit Section Desktop</option>
            <option value="benefit-mobile">Benefit Section Mobile</option>
            <option value="howtoearn-desktop">How To Earn Section Desktop</option>
            <option value="howtoearn-mobile">How To Earn Section Mobile</option>
            <option value="journey-desktop">Journey Section Desktop</option>
            <option value="journey-mobile">Journey Section Mobile</option> -->
            <option value="level-benefit-desktop">Membership level and benefits info section Desktop</option>
            <option value="level-benefit-mobile">Membership level and benefits info section Mobile</option>
            <option value="redemption-desktop">SOCO point redemption section Desktop</option>
            <option value="redemption-mobile">SOCO point redemption section Mobile</option>
            <option value="howtoearn-desktop">How To Earn SOCO point section Desktop</option>
            <option value="howtoearn-mobile">How To Earn SOCO point section Mobile</option>
          </select>
        </div>
      </div>

      <div v-if="!isNonLoginUser" class="sc-form-group" :class="{'has-error': errors.has('formBanner.created_from') }">
        <label for="brand_name" class="sc-form-label">Locale</label>
        <div class="sc-form-child-group">
          <select class="sc-form-input" id="type" v-model="banner.created_from" required name="type">
            <option value="sociolla">ID</option>
            <option value="sociolla_vn">VN</option>
          </select>

          <p v-show="errors.has('formBanner.created_from')" class="alert">
            {{ errors.first('formBanner.created_from') }}
          </p>
        </div>
      </div>

      <div
        v-if="!isBeautyBanner && !isNonLoginUser"
        class="sc-form-group"
        :class="{'has-error': errors.has('formBanner.apply_for') }"
      >
        <label for="brand_name" class="sc-form-label">Apply</label>
        <div class="sc-form-child-group">
          <select class="sc-form-input" id="type" v-model="banner.apply_for" required name="type">
            <option value="1x-per-day">1x Per Day</option>
            <option value="everytime-access-homepage">Everytime Access Homepage</option>
          </select>

          <p v-show="errors.has('formBanner.apply_for')" class="alert">{{ errors.first('formBanner.apply_for') }}</p>
        </div>
      </div>

      <div v-if="!isBeautyBanner && !isNonLoginUser" class="sc-form-group">
        <label for="urutan" class="sc-form-label">Order</label>
        <div class="sc-form-child-group">
          <select class="sc-form-input" id="order" name="order" v-model="banner.order">
            <option value="">Choose Order</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
      </div>

      <div class="sc-form-group" :class="{'has-error': errors.has('formBanner.status') }">
        <label for="brand_name" class="sc-form-label">STATUS</label>
        <div class="sc-form-child-group">
          <select class="sc-form-input" id="status" required="" name="status" v-model="banner.status">
            <option value="active">Active</option>
            <option value="inactive">Not Active</option>
          </select>

          <p v-show="errors.has('formBanner.status')" class="alert">{{ errors.first('formBanner.status') }}</p>
        </div>
      </div>

      <div class="banner-form__group" :class="{'has-error': errors.has('formBanner.banner_image') }">
        <div class="image-selector" :class="{ 'image-selector_selected': !banner.image }">
          <ball-pulse-loader v-if="state.isProcess" color="#000000" size="20px"></ball-pulse-loader>
          <div class="image-selector__title">Upload AD image</div>
          <div v-if="banner.image" class="image-selector__image" @click.prevent="triggerUpload">
            <img :src="banner.image" />
          </div>
          <div v-else class="image-selector__image image-selector__image_placeholder" @click.prevent="triggerUpload">
            <img :src="require(`@/img/icon-upload-cover-image.png`)" />
            <p>Upload ad image <span class="required">*</span></p>
            <p>Recommended size 686 x 136 px (max. 5MB)</p>
          </div>
          <a v-if="banner.image" class="image-selector__trigger" @click.prevent="triggerUpload"
            >Click here to change cover image</a
          >
        </div>
        <input
          class="banner-form__file-input"
          ref="banner_file_input"
          type="file"
          accept="image/*"
          @change="onFileSelected($event)"
        />
        <input type="hidden" v-model="banner.image" name="banner_image" v-validate="'required'" />
        <p v-show="errors.has('formBanner.banner_image')" class="alert">
          {{ errors.first('formBanner.banner_image') }}
        </p>
      </div>
    </form>

    <div class="sc-form-group sc-mt-15">
      <ball-pulse-loader v-if="submit_loading" color="#000000" size="20px"></ball-pulse-loader>
      <input
        v-else
        type="Submit"
        v-on:click="saveBanner('formBanner')"
        value="Submit"
        id="form_submit_btn"
        class="sc-btn sc-btn-lg sc-btn-rounded sc-btn-primary sc-uppercase"
      />
    </div>

    <div id="undertone-modal" class="custom-modal modal-mask modal--upload-picture" v-if="showModal">
      <div slot="body">
        <div class="modal-body">
          <div class="modal-header">
            <h4 class="modal__heading">PILIH COVER IMAGE KAMU</h4>
            <span class="link modal-dismiss" @click="showModal = false, isFileChoose = false, fileSizeExceed = false"
              >&times;</span
            >
          </div>
          <div class="croppa-wrapper">
            <croppa
              v-model="croppa"
              :height="460.8"
              :width="768"
              :quality="1"
              :prevent-white-space="false"
              initial-size="contain"
              :file-size-limit="5242880"
              :accept="'image/jpg,image/jpeg,image/png,image/gif'"
              :placeholder="'Click here to upload an image'"
              :auto-sizing="true"
              @file-size-exceed="onFileSizeExceed"
              @file-choose="onFileChoose"
              @image-remove="isFileChoose = false, fileSizeExceed = false"
            >
            </croppa>
          </div>
          <div class="field" v-if="fileSizeExceed">
            <div class="fieldarea">
              <p class="alert">Ukuran maksimum 5MB</p>
            </div>
          </div>
          <a
            href="#"
            class="close button button-trans modal-upload-foto-save"
            @click.prevent="saveCrop"
            v-show="isFileChoose"
            v-if="!isSaveCrop"
            >SAVE</a
          >
          <!-- <loaderspin v-else /> -->

          <div class="field fieldinfo" v-show="isFileChoose">
            <div class="fieldarea">
              <p><i class="icon_lightbulb"></i> Atur foto kamu dengan scroll</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
