<div class="sc-form">
  <div class="sc-form-container">
    <div class="sc-form-title">Edit Banned User</div>
    <div class="sc-form-group">
      <label for="brand_name" class="sc-form-label">Name</label>
      <div class="sc-form-child-group">
        <input class="sc-form-input" id="username" name="username" type="text" v-model="username" />
      </div>
    </div>

    <div class="sc-form-group">
      <div>
        <input
          type="Submit"
          value="Submit"
          id="form_submit_btn"
          @click.prevent="editBanneduser()"
          class="sc-btn sc-btn-rounded sc-btn-md sc-btn-primary sc-uppercase"
        />
      </div>
    </div>
  </div>
</div>
