.modal-body {
	position: relative;
	flex: 1 1 auto;
	padding: 48px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding-top: 10px;
	padding-left:75px;
	padding-right:75px;
    }
    .modal-header {
	display: inherit;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	border-bottom: 0 solid #e9ecef;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
    }
    .custom--input .modal--upload-picture .croppa-container, .page--create-detail .modal--upload-picture .croppa-container {
	height: 460.8px;
	background-color: #00000014;
    }
    
    .fieldarea
    {
	margin:0 auto;
	display:block;
	text-align:center;
    
    }
    .field.fieldinfo {
	color: #999999;
	position: relative;
	top: 47px;
    }
    .modal--upload-picture .modal-upload-foto-save {
	background-color:#f780a7;
	color: #fff;
	border-color: #f09ab9;
	padding: 6px 0;
      
	/* font-size: 12px; */
	letter-spacing: .43px;
	/* position: absolute; */
	position: absolute;
	top: 88%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top:2%;
	width: 128px;
	opacity: 0.8;
    }
    .modal--upload-picture .modal-upload-foto-save:hover
    {
	color:#fff;
    }
    .form-field.form-required.term-name-wrap,
    .form-field.term-slug-wrap {
      // z-index: 11;
      // position: relative;
      display: flex;
      margin: 20px auto;
      align-items: center;
    }
    
    .form-field.term-slug-wrap label,
    .form-field.form-required.term-name-wrap label {
      margin-right: 20px;
      width: 140px;
    }
    .form-wrap h1 {
      font-size: 30px;
    }
    input[type="date"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="text"],
    select,
    textarea {
      flex: 1;
      border: none;
      padding-left: 10px;
      height: 40px;
      border-radius: 4px;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
      background-color: #ffffff;
    }
    hr {
      border-top: 1px solid #b2b2b2;
    }
    a.nbtn.submit {
      position: relative;
      width: 124px;
      height: 40px;
      border-radius: 4px;
      background-color: #000000;
      display: flex;
      align-items: center;
      padding: 0;
      justify-content: center;
      margin-left: 5px;
      font-family: 'Lato-Bold' sans-serif;
      font-size: 13px;
      color: white;
      box-shadow: none;
    }
    .article-list {
      display: flex;
      flex-wrap: wrap;
      .link-preview {
	display: inline-block;
	width: 188px;
	margin: 10px 5px;
	background: white;
	position: relative;
	padding: 15px 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	img {
	  width: 188px;
	  height: 107px;
	  border-radius: 4px;
	  overflow: hidden;
	  margin-bottom: 6px;
	}
	h4 {
	  font-family: 'Lato-Bold' sans-serif;
	  font-size: 12.6px;
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: normal;
	  color: #000000;
	  line-height: 17px;
	  text-align: center;
	  font-weight: normal;
	}
      }
    }
    
    .product-wrapper {
      position: relative;
      margin: 10px 5px;
      background: white;
      padding: 8px;
    }
    
    .abc-radio label.form-check-label {
      padding-left: 10px;
      font-size: 13px;
      color:black;
    }