.modal--edit-translation {
    .modal {
        z-index: 1040;
    }

    .modal-backdrop {
        z-index: 1030;
    }

    .modal-body {
        padding: 0 0 16px 0;
        width: 320px;
        background-color: #ffffff;
    }

    .content-wrapper {
        .content {
            padding: 0 20px 16px;
            position: relative;
            width: 320px;
            text-align: left;

            .modal-heading {
                letter-spacing: 1px;
                color: #000000;
                text-transform: uppercase;
                margin-bottom: 0;
                font: 13px/20px 'Lato-Bold', sans-serif;
                text-align: left;
            }

            .product-preview {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 12px;
                border-radius: 4px;

                .sc-form-group {
                    display: flex;
                    align-items: center;
                    margin-bottom: 16px;
                    flex-direction: row;
                    width: 100%;

                    .sc-form-label {
                        width: 150px;
                        margin-right: 16px;
                        color: #000000;
                        flex-shrink: 0;
                    }

                    .sc-form-input {
                        flex-grow: 1;
                        padding: 8px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                    }

                    .textarea-container {
                        position: relative;
                        flex-grow: 1;

                        .text-helped-counter {
                            position: absolute;
                            right: 8px;
                            bottom: 20px;
                            font-size: 12px;
                            color: #999;
                        }

                        .text-helped-counter.passed {
                            color: green;
                        }
                    }
                }

                .error-message {
                    color: red;
                }
            }
        }
    }

    .content-wrapper .modal-header {
        position: relative;
        padding: 0px 0px 15px;
        border-bottom: none;

        .close {
            background-color: transparent;
            position: absolute;
            right: 0;
            z-index: 2;
            opacity: 1;
            top: 0px;
            margin: 0;
            border: none;
        }
    }

    .modal-footer {
        z-index: 11;
        padding: 16px 16px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        border-top: 1px solid #E5E5E5;
        background-color: #FFFFFF;

        .btn {
            text-transform: uppercase;
            font-family: 'Lato-Bold', sans-serif;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 2px;
            text-align: center;
            color: #f8f8f8;
            width: auto;
            border-radius: 4px;
            padding: 9px 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #da2a52;
            box-shadow: none;

            &.btn-red {
                background-color: #da2a52;
                color: white;
                border: 1px solid #da2a52;
                &.disabled {
                    background-color: #E5E5E5;
                    border: 1px solid #E5E5E5;
                }
            }
        }
    }
}
