<div>
  <div class="sc-filter">
    <div class="sc-filter-item">
      <label class="sc-filter-label">Product:</label>
      <label class="sc-filter-label">{{ productDetail && productDetail.brand && productDetail.brand.name ? productDetail.brand.name : '' }} - {{ productDetail && productDetail.name ? productDetail.name : '' }}</label>
    </div>
  </div>
  <div class="sc-filter">
    <div class="sc-filter-item">
      <label class="sc-filter-label">Author: </label>
      <input class="sc-filter-input" type="input" v-model="filter.username" />
    </div>
    <div class="sc-filter-item">
      <label class="sc-filter-label">Review Source: </label>
      <select class="sc-filter-input" name="cat" v-model="filter.acquisition_source">
        <option value="" selected>-- Select Source --</option>
        <option value="review-android">Review Android</option>
        <option value="review-ios">Review IOS</option>
        <option value="soco-web-mobile">Soco Web Mobile</option>
        <option value="soco-web-desktop">Soco Web Desktop</option>
        <!-- <option value="bj-web-mobile">BJ Web Mobile</option>
        <option value="bj-web-desktop">BJ Web Desktop</option> -->
        <option value="sociolla-web-mobile">Sociolla Web Mobile</option>
        <option value="sociolla-web-desktop">Sociolla Web Desktop</option>
        <option value="review-web-mobile">Review Web Mobile</option>
        <option value="review-web-desktop">Review Web Desktop</option>
      </select>
    </div>
    <div class="sc-filter-item">
      <label class="sc-filter-label">From: </label>
      <input class="sc-filter-input" type="date" v-model="filter.date_begin" />
    </div>
    <div class="sc-filter-item">
      <label class="sc-filter-label">To: </label>
      <input class="sc-filter-input" type="date" :min="filter.date_begin" v-model="filter.date_end" />
    </div>
    <div class="sc-filter-item" v-if="filter.object_type === 'add-review'">
      <label class="sc-filter-label">Product Name: </label>
      <input class="sc-filter-input" type="text" v-model="filter.product" />
    </div>
    <div class="sc-filter-item" v-if="filter.object_type === 'add-review' && options.brands && options.brands.data">
      <label class="sc-filter-label">Brand Name: </label>
      <!-- <input class="sc-filter-input" type="text" v-model="filter.brand_name"> -->
      <multiselect
        class="sc-form-input"
        id="brands"
        v-model="filter.brand"
        placeholder=""
        open-direction="bottom"
        :options="options.brands.data"
        :searchable="true"
        :loading="options.brands.is_loading"
        :internal-search="false"
        :disabled="options.brands.disabled"
        :clear-on-select="true"
        :close-on-select="true"
        :show-no-results="true"
        :hide-selected="true"
        @search-change="findBrands"
        :show-labels="false"
        track-by="_id"
        :custom-label="sourcename"
      >
        <span slot="noResult">Oops! No brands found. Consider changing your query.</span>
        <span slot="caret" style="display: none !important"></span>
      </multiselect>
    </div>
    <div class="sc-filter-item sc-filter-button">
      <input
        type="submit"
        value="Filter"
        class="sc-btn sc-btn-secondary sc-btn-md sc-btn-rounded sc-mr-10"
        @click="filterData"
      />
      <input type="submit" value="Reset" class="sc-btn sc-btn-secondary sc-btn-md sc-btn-rounded" @click="reset" />
    </div>
  </div>
  <div class="sc-table-overflow">
    <div class="sc-table-responsive">
    <table class="sc-table">
      <thead>
        <tr style="height: 25px">
          <th style="width: 100px">AUTHOR</th>
          <th style="width: 100px">REVIEW CONTENT</th>
          <th style="width: 130px">INTERACTION STATS</th>
          <th style="width: 130px">USER RATINGS</th>
          <th style="width: 130px">REVIEW SCORES</th>
          <th style="width: 130px">
            DATE CREATED
            <sortField v-show="!is_loading" field="created_at" :sort="sortParam" @sort="sort" />
          </th>
          <th style="width: 130px">REVIEW SOURCE</th>
          <th style="width: 200px">Action</th>
        </tr>
      </thead>
      <tbody>
        <div class="loader" v-if="is_loading" style="width: 100%; text-align: center">
          <ball-pulse-loader color="#000000" size="20px"></ball-pulse-loader>
        </div>

        <TableEmpty :cols="9" v-if="!is_loading && !(data && data.length)" />

        <tr v-for="newsfeed in data">
          <td>{{ newsfeed.actor && newsfeed.actor.name ? newsfeed.actor.name  : '' }}</td>
          <td><p class="desc">{{ newsfeed.review.details | trimRecentReviewContent }}</p></td>
          <td>
            <p>Helpful: {{ newsfeed.total_likes }}</p>
            <p>Comment: {{ newsfeed.total_comments }}</p>
            <p>Report: {{ newsfeed.total_reports }}</p>
          </td>
          <td>{{ (newsfeed.review.average_rating*1).toFixed(1) }}</td>
          <td>{{ newsfeed.review.product ? newsfeed.review.product.counter_review_rating.toFixed(1) : '' }}</td>
          <td>{{ dateFormat_Ymd(newsfeed.created_at) }}</td>
          <td>{{ newsfeed.review.source }}</td>

          <td>
            <div>
              <!-- <span title="Undo" aria-hidden="true" class="fa fa fa-undo btn_group" @click="undo(newsfeed._id)"></span> -->
              <template v-if="newsfeed && newsfeed.object_type == 'add-review' &&  newsfeed.review">
                <span
                  title="Preview"
                  aria-hidden="true"
                  class="fa fa-eye btn_group"
                  @click.prevent="showModalDetail(newsfeed)"
                ></span>
              </template>
              <span title="Trash" aria-hidden="true" class="fa fa-trash btn-delete" @click="trash(newsfeed._id)"></span>
              <span
                title="Pinned"
                aria-hidden="true"
                class="fa fa-thumb-tack btn-pinned"
                :class="[newsfeed.is_pinned ? 'active' : '']"
                @click="pinned(newsfeed._id, newsfeed.is_pinned, newsfeed.review)"
              ></span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
   <div class="sc-pagination-page">
    <div class="sc-pagination-content">
      <div class="sc-pagination-text-container">
        <div class="sc-pagination-text">Page: {{ pagination.currentPage }} out of {{ pagination.totalPage}}</div>
        <div class="sc-pagination-text">Total Record: {{ pagination.currentTotalRecord }}</div>
      </div>
      <div class="table-pagination">
        <DisplayPerPage :all="all" @display="display"></DisplayPerPage>
         <Pagination :limit="pagination.limit" :skip="pagination.skip" :total="pagination.totalPage" @page="setSkip" />
      </div>
    </div>
  </div>
  <div class="sc-pagination">
    <h1 class="sc-pagination-label">Pagination</h1>
    <div class="sc-pagination-form">
      <input
        class="sc-btn sc-btn-secondary sc-pagination-btn"
        v-if="pagination.currentPage > 1"
        type="submit"
        value="Prev"
        v-on:click="gotoPage(pagination.currentPage - 1)"
      />
      <input
        class="sc-pagination-input"
        type="number"
        min="1"
        :max="pagination.totalPage"
        name=""
        v-model="pagination.currentPage"
        @keyup.enter.prevent="gotoPage(pagination.currentPage)"
      />
      <input
        class="sc-btn sc-btn-secondary sc-pagination-btn"
        v-if="pagination.totalPage > pagination.currentPage"
        type="submit"
        value="Next"
        v-on:click="gotoPage(pagination.currentPage+1)"
      />
    </div>
  </div>
  <ModalDetailReview v-if="showModalDetailReview" />
  <ModalRelocate v-if="showModalRelocate" />
  <ModalConfirmation v-if="showModalConfirmation" @reloadTable="fetchData" />
</div>
