<div class="component-commission-history">
  <div class="sc-form">
    <div class="sc-form-container">
      <div class="sc-form-group sc-form-group-sm">
        <label class="sc-form-label">To:</label>
        <select class="sc-form-input" v-model="selectedYear" @change="onChange(selectedYear)">
          <option :value="startYear" selected>{{startYear}}</option>
          <option :value="startYear + i" v-for="i in 25">{{startYear + i}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="sc-tab-section">
    <div class="sc-tab-item sc-tab-item-2" :class="{'sc-selected': status === 1}" @click.prevent="filterStatus(1)">
      <div class="sc-tab-title">Periode 1</div>
      <div class="sc-tab-total">Januari</div>
    </div>
    <div class="sc-tab-item sc-tab-item-2" :class="{'sc-selected': status === 2}" @click.prevent="filterStatus(2)">
      <div class="sc-tab-title">Periode 2</div>
      <div class="sc-tab-total">Juli</div>
    </div>
  </div>
  <div class="sc-pagination">
    <h1 class="sc-pagination-label">Pagination</h1>
    <div class="sc-pagination-form">
      <input
        class="sc-btn sc-btn-secondary sc-pagination-btn"
        v-if="pagination.currentPage > 1"
        type="submit"
        value="Prev"
        v-on:click="gotoPage(pagination.currentPage - 1)"
      />
      <input
        class="sc-pagination-input"
        type="number"
        min="1"
        :max="pagination.totalPage"
        name=""
        v-model="pagination.currentPage"
        @keyup.enter.prevent="gotoPage(pagination.currentPage)"
      />
      <input
        class="sc-btn sc-btn-secondary sc-pagination-btn"
        v-if="pagination.totalPage > pagination.currentPage"
        type="submit"
        value="Next"
        v-on:click="gotoPage(pagination.currentPage+1)"
      />
    </div>
  </div>
  <div class="sc-filter">
    <div class="sc-filter-item">
      <label class="sc-filter-label">Username: </label>
      <input class="sc-filter-input" type="input" v-model="filter.username" />
    </div>
    <div class="sc-filter-item">
      <label class="sc-filter-label">From: </label>
      <input class="sc-filter-input" type="date" v-model="filter.date_begin" />
    </div>
    <div class="sc-filter-item">
      <label class="sc-filter-label">To: </label>
      <input class="sc-filter-input" type="date" v-model="filter.date_end" />
    </div>
    <div class="sc-filter-item sc-filter-button">
      <input
        type="submit"
        value="Filter"
        class="sc-btn sc-btn-secondary sc-btn-md sc-btn-rounded sc-mr-10"
        @click="filterData"
      />
    </div>
  </div>
  <div class="sc-table-responsive">
  <table class="sc-table">
    <thead>
      <tr style="height: 25px">
        <th style="width: 150px"># ID</th>
        <th style="width: 200px">
          Name
          <sortField v-show="!is_loading" field="object_type" :sort="sortParam" @sort="sort" />
        </th>
        <th style="width: 200px">
          SOCO Username
          <sortField v-show="!is_loading" field="object_type" :sort="sortParam" @sort="sort" />
        </th>
        <th style="width: 200px">
          Email
          <sortField v-show="!is_loading" field="object_type" :sort="sortParam" @sort="sort" />
        </th>
        <th style="width: 300px">
          Voucher Code
          <sortField v-show="!is_loading" field="verb" :sort="sortParam" @sort="sort" />
        </th>
        <th style="width: 220px">
          Voucher Code Used
          <sortField v-show="!is_loading" field="created_at" :sort="sortParam" @sort="sort" />
        </th>
        <th style="width: 220px">
          Total Earning
          <sortField v-show="!is_loading" field="created_at" :sort="sortParam" @sort="sort" />
        </th>
        <th style="width: 220px">
          Commission Sent
          <sortField v-show="!is_loading" field="created_at" :sort="sortParam" @sort="sort" />
        </th>
        <th style="width: 150px">Action</th>
      </tr>
    </thead>
    <tbody>
      <div class="loader" v-if="is_loading" style="width: 100%; text-align: center">
        <ball-pulse-loader color="#000000" size="20px"></ball-pulse-loader>
      </div>

      <TableEmpty :cols="9" v-if="!is_loading && !(data && data.length)" />

      <tr v-for="user in data" v-if="user._id">
        <td>{{user._id.substring(10)}}</td>
        <td>{{user.user_detail ? user.user_detail.name : '-'}}</td>
        <td>{{user.user_detail ? user.user_detail.user_name : '-'}}</td>
        <td>{{maskEmail(user.user_detail ? user.user_detail.email : '-')}}</td>
        <td>{{user.user_detail ? user.user_detail.sbn_detail.voucher.code : '-'}}</td>
        <td>{{user.total_voucher_used}}</td>
        <td>{{user.total_commission}}</td>
        <td>{{dateFormat_Ymd(user.released_at)}}</td>
        <td>
          <div class="sc-table-btn column-btn">
            <div class="sc-table-btn-item">
              <span title="Undo" aria-hidden="true" class="fa fa-search sc-detail" @click="editUser(user)"></span>
            </div>
            <!-- <div class="sc-table-btn-item">
                            <span title="Trash" aria-hidden="true" class="fa fa-trash sc-detail"
                                @click="trash(user._id)"></span>
                        </div> -->
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="sc-pagination-page">
    <div class="sc-pagination-text">Page: {{ pagination.currentPage }} out of {{ pagination.totalPage}}</div>
    <div class="sc-pagination-text">Total Record: {{ pagination.currentTotalRecord }}</div>
  </div>
  <!-- .................form modal............ -->
  <modal ref="edit_modal" :medium="true" :okText="''" :okClass="'hidden'" :cancelText="''" :cancelClass="'hidden'">
    <div slot="title">{{userData.name}} user detail</div>
    <div class="user-detail-container" v-if="userData.user_detail">
      <div class="title-container info-container">USER INFORMATION</div>
      <div class="info-container">
        <div>Name</div>
        <div>{{userData.user_detail.name}}</div>
      </div>
      <div class="info-container">
        <div>Username</div>
        <div>{{userData.user_detail.user_name}}</div>
      </div>
      <div class="info-container">
        <div>Email</div>
        <div>{{maskEmail(userData.user_detail.email)}}</div>
      </div>
      <div class="info-container">
        <div>SBN Level</div>
        <div>{{userData.user_detail.sbn_detail.sbn_level}}</div>
      </div>
      <div class="info-container">
        <div>Status</div>
        <div>{{userData.user_detail.sbn_detail.status}}</div>
      </div>
      <div class="info-container">
        <div>Voucher Code</div>
        <div>{{userData.user_detail.sbn_detail.voucher.code}}</div>
      </div>
      <div class="info-container">
        <div>Total Voucher Used</div>
        <div>{{userData.total_voucher_used}}</div>
      </div>
      <div class="info-container">
        <div>Total Commission</div>
        <div>{{userData.total_commission}}</div>
      </div>
      <div class="info-container">
        <div>Released Date</div>
        <div>{{dateFormat_Ymd(userData.released_at)}}</div>
      </div>
    </div>
  </modal>
</div>
