<div>
  <div class="sc-pagination">
    <h1 class="sc-pagination-label">Pagination</h1>
    <div class="sc-pagination-form">
      <input
        class="sc-btn sc-btn-secondary sc-pagination-btn"
        v-if="currentPage > 1"
        type="submit"
        value="Prev"
        v-on:click="gotoPage(currentPage - 1)"
      />
      <input
        class="sc-pagination-input"
        type="number"
        min="1"
        :max="totalPage"
        name=""
        v-model="currentPage"
        @keyup.enter.prevent="gotoPage(currentPage)"
      />
      <input
        class="sc-btn sc-btn-secondary sc-pagination-btn"
        v-if="totalPage > currentPage"
        type="submit"
        value="Next"
        v-on:click="gotoPage(currentPage+1)"
      />
    </div>
  </div>
  <div class="sc-filter">
    <div class="sc-filter-item">
      <label class="sc-filter-label">Search By Id: </label>
      <input class="sc-filter-input" type="text" v-model="id" />
    </div>
    <div class="sc-filter-item">
      <label class="sc-filter-label">Search By Email: </label>
      <input class="sc-filter-input" type="text" v-model="email" />
    </div>
    <div class="sc-filter-item">
      <label class="sc-filter-label">Search By Id User: </label>
      <input class="sc-filter-input" type="text" v-model="id" name="Id User" v-validate="'object_id'" />
    </div>
    <div class="sc-filter-item">
      <label class="sc-filter-label">Username: </label>
      <input class="sc-filter-input" type="text" v-model="user_name" />
    </div>
    <div class="sc-filter-item">
      <label class="sc-filter-label">Name: </label>
      <input class="sc-filter-input" type="text" v-model="name" />
    </div>
    <div class="sc-filter-item sc-filter-button">
      <input
        type="submit"
        value="Filter"
        class="sc-btn sc-btn-secondary sc-btn-md sc-btn-rounded sc-mr-10"
        @click="filterData"
      />
      <input type="submit" value="Reset" class="sc-btn sc-btn-secondary sc-btn-md sc-btn-rounded" @click="resetAll" />
    </div>
  </div>

  <div class="sc-table-responsive">
    <table class="sc-table">
      <thead>
        <tr>
          <th style="font-size: 15px; width: 9%; min-width: 200px; text-align: center">
            ID
            <sortField v-show="!is_loading" field="id" :sort="sortParam" @sort="sort" />
          </th>
          <th style="font-size: 15px; width: 9%; min-width: 200px; text-align: center">
            Name
            <sortField v-show="!is_loading" field="name" :sort="sortParam" @sort="sort" />
          </th>
          <th style="font-size: 15px; width: 9%; min-width: 200px; text-align: center">
            Username
            <sortField v-show="!is_loading" field="user_name" :sort="sortParam" @sort="sort" />
          </th>
          <th style="font-size: 15px; width: 9%; min-width: 200px; text-align: center">
            Email
            <sortField v-show="!is_loading" field="email" :sort="sortParam" @sort="sort" />
          </th>
          <th style="font-size: 15px; width: 9%; min-width: 200px; text-align: center">Status</th>
          <th style="font-size: 15px; width: 9%; min-width: 200px; text-align: center">Action</th>
        </tr>
      </thead>
      <tbody>
        <TableEmpty :cols="6" v-if="!is_loading && !(users && users.length)" />
        <tr v-for="user in users">
          <td style="font-size: 13px; width: 9%; min-width: 200px; text-align: center">{{user.id}}</td>
          <td style="font-size: 15px; width: 9%; min-width: 200px; text-align: center">{{user.name}}</td>
          <td style="font-size: 15px; width: 9%; min-width: 200px; text-align: center">{{user.user_name}}</td>
          <td style="font-size: 15px; width: 9%; min-width: 200px; text-align: center">{{ maskEmail(user.email) }}</td>
          <td style="font-size: 12px; width: 15%">{{user.status}}</td>
          <td class="flex-column align-items-start" style="font-size: 15px; width: 10%">
            <button
              @click="changeToUnblock('active',user._id,index)"
              v-if="user.password_failure_count >= 5"
              class="d-flex text-primary mb-2"
            >
              <i class="fa fa-user-plus mr-1"></i> Unblock
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="sc-pagination-page">
    <div class="sc-pagination-text">Page: {{ currentPage }} out of {{ totalPage}}</div>
    <div class="sc-pagination-text">Total Record: {{ currentTotalRecord }}</div>
  </div>
</div>
