@import '~@/sass/mixin';

/deep/ {
    .row:after,.row:before{
        content: none
    }
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .btn {
        border: 1px solid transparent;
        border-radius: .25rem;
        box-shadow: initial;
        padding: .375rem .75rem;
        letter-spacing: normal;
        line-height: 1.5;
        text-transform: initial;
        transition: none;
    }

    .btn-sm {
        padding: .25rem .5rem;
        font-size: .875rem;
        border-radius: .2rem;
    }

    .btn-pink {
        background-color: $pinkalt2;
        color: #fff
    }
    
    .btn-outline {
        background-color: $white;
        border-color: $black;
        color: $black
    }

    .bg-pink {
        background-color: $pinkalt2;
    }

    .badge {
        min-width: initial;
        text-transform: initial;
        font-size: 75%;
    }

    li {
        list-style-type: inherit;
    }

    span {
        font-size: 100%;
    }

    input {        
        -webkit-appearance: auto;
        -moz-appearance: auto;
        font-size: 1rem;

        &[type="checkbox"] {
            &:after {
                content: initial;
            }
        }
    }
    
    label {
        margin-bottom: 0.5rem;
        .required {
            color: $red
        }
        &.custom-label {
            height: calc(1.5em + .75rem + 2px);
            margin: auto 0 1.25rem;
            padding: 0 10px;
        }
    }
    
    textarea {
        resize: vertical;

        &.form-control {
            height: auto;
        }
    }

    .form-check-input {
        position: absolute;
    }
    
    .form-group {
        display: block;
        margin-bottom: 1.5rem;
    }
    
    .form-control {
        border-width: 1px;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);

        &:disabled {
            background-color: #e9ecef !important
        }
    }
    .form-inline {
        label {
            margin-bottom: 0;
        }
        .custom-select,
        .form-control {
            width: auto;
        }
    }
    .input-group {
        > .form-control {
            width: initial;
        }
    }
    
    select.form-control:disabled {
        background-color: #e9ecef !important
    }
}