.custom-modal {
	/deep/ .content-wrapper {
        .content{ 
            width: 900px !important;
            background-color: #e5e5e5 !important;
        }
    }
}

.modal--confirm {
    .modal {
		z-index: 1040;
	}

	.modal-backdrop {
		z-index: 1030;
    }
    
    .modal-body {
        padding: 0 0 16px 0;
        width: 320px;
        background-color: #ffffff;
    }
    
    .content-wrapper {
		.content {
			padding: 0 20px 16px;
            position: relative;
            width: 320px;
            text-align: left;

            .modal-heading {
				letter-spacing: 1px;
                color: #000000;
                text-transform: uppercase;
                margin-bottom: 0;
                font: 13px/20px 'Lato-Bold', sans-serif;
                text-align: left;
            }
            
            .product-preview {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 12px;
                border-radius: 4px;
                p{
                    font: 13px/20px "lato-regular",sans-serif;
                    text-align: left;  
                }
                ul{
                    padding: 0 !important;
                }
            }
		}
    }
    .content-wrapper .modal-header {
        position: relative;
        padding: 0px 0px 15px;
        border-bottom: none;
        .close {
            background-color: transparent;
            position: absolute;
            right: 0;
            z-index: 2;
            opacity: 1;
            top: 0px;
            margin: 0;
            border: none;
        }
    }

    .modal-footer{
        z-index: 11;
        padding: 16px 16px 0;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        border-top: 1px solid #E5E5E5;
        // background-color: #FFFFFF;
        .create-review-text{
            width: 260px;
            z-index: 11;
            padding: 16px 16px;
            display: flex;
            align-items: center;
            // background-color: #FFFFFF;
            justify-content: space-around;
        }
        .btn {
            text-transform: uppercase;
            font-family: 'Lato-Bold', sans-serif;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 2px;
            text-align: center;
            color: #f8f8f8;
            width: auto;
            border-radius: 4px;
            padding: 9px 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #da2a52;
            box-shadow: none;
          
            &.btn-black {
              background-color: black;
              color: white;
              border: 1px solid white;
            }

            &.btn-blue {
                background-color: blue;
                color: white;
                border: 1px solid white;
            }
        }
    }
}