@media(max-width: 1100px) {

#form_my_journal.page--create-detail {
    display: block;
    width: 100%;
    overflow: hidden;

    #form-journal { width: 100% !important; display: block; }
    #form-journal,
    .right-content.form-right { width: 100% !important; }
    .right-content.form-right { margin-left: 0; }
    .modal-mask {width: 100vw;}
    .content { padding: 0;max-width: 340px; }
    .modal__heading { font-size: 15px; }
    .croppa-container { 
        height: auto; 
        canvas { width: 100% !important;height: auto !important; }
    }
    .modal-dismiss {
        right: 17px;
        font-size: 25px;
        top: 4px;
    }
    .modal-header { padding: 5px 0; }
    .croppa-wrapper { padding-top: 0; }

}
.right-content.form-right {
    margin-left: 30px;
    width: 440px;
    margin-top: 24px;
    float: left;
}

}//max-width: 1100px