.sc-form {
    width: 100%;
    display: block;
    .sc-form-breadcrumb {
        font-size: 14px;
        font-family: $fonttype_d;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    .sc-form-title {
        font-size: 18px;
        font-family: $fonttype_d;
        margin-bottom: 15px;
        text-transform: uppercase;
        padding: 12px;
        background-color: #e0e0e0;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
    .sc-form-container {
        width: 100%;
        &.sc-form-center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .sc-form-title-section {
            font-size: 13px;
            font-family: $fonttype_c;
            margin-bottom: 15px;
            text-transform: uppercase;
        }
        .sc-form-group {
            width: 40%;
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            &.sc-form-group-full {
                width: 100%;
            }
            &.sc-form-group-half {
                width: 50%;
            }
            &.sc-form-group-sm {
                width: 20%;
            }
            &.sc-row {
                flex-direction: row;
                justify-content: space-between;
                .sc-row-item {
                    width: calc(50% - 5px);
                }
                .sc-form-input {
                    margin-bottom: 0;
                }
            }
            .sc-form-child-group {
                display: flex;
                flex-direction: column;
                .sc-form-input {
                    margin-bottom: 5px;
                }
                &.row-new {
                    flex-direction: row !important;
                }
            }
        }
    }
}

.sc-form-label {
    width: 100%;
    font-size: 13px;
    font-family: $fonttype_c;
    margin-bottom: 5px;
    color: #737373;
    text-transform: uppercase;
}
.sc-form-input {
    width: 100% !important;
    font-size: 13px !important;
    padding: 8px 12px;
    height: auto !important;
    border-radius: 4px;
    border: 1px solid #ddd !important;
    background-color: #FFFFFF !important;
    &.multiselect {
        padding: 0;
    }
}

select {
    &.sc-form-input {
        -moz-appearance:auto; /* Firefox */
        -webkit-appearance:auto; /* Safari and Chrome */
        appearance:auto;
    }
}