.welcome-page {
    width: 100%;
    min-height: calc(100vh - 135px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .welcome-title {
        width: 100%;
        margin-bottom: 5px;
    }
    .welcome-desc {
        width: 100%;
        font-size: 13px;
        font-family: $fonttype_b;
    }
}
.sc-mt-10 { margin-top: 10px; }
.sc-mt-15 { margin-top: 15px; }
.sc-mt-20 { margin-top: 20px; }
.sc-mb-10 { margin-bottom: 10px; }
.sc-mb-15 { margin-bottom: 15px; }
.sc-mb-20 { margin-bottom: 20px; }
.sc-mr-10 { margin-right: 10px; }
.sc-ml-10 { margin-left: 10px; }
.sc-uppercase { text-transform: uppercase; }
.sc-align-right { text-align: right; }
.sc-justify-center { justify-content: center; }
.sc-mini-title { font-size: 14px; font-family: $fonttype_c; margin-bottom: 10px; }
.tooltip {
    display: block !important;
    z-index: 10000;
  
    .tooltip-inner {
        background: #ffffff;
        color: #000000;
        border-radius: 2px;
        padding: 5px 10px 4px;
        margin-top: -60px;
        font-size: 12px;
        text-align: left;
    }
  
    .tooltip-arrow {
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      margin: 5px;
      border-color: transparent !important;
      z-index: 1;
    }

    .tooltip-arrow::before {
		border: none !important;
	}
  
    &[x-placement^="top"] {
      margin-bottom: 5px;
  
      .tooltip-arrow {
        border-width: 5px 5px 0 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        bottom: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  
    &[x-placement^="bottom"] {
      margin-top: 5px;
  
      .tooltip-arrow {
        border-width: 0 5px 5px 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        top: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  
    &[x-placement^="right"] {
      margin-left: 5px;
  
      .tooltip-arrow {
        border-width: 5px 5px 5px 0;
        border-left-color: transparent !important;
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
        left: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }
    }
  
    &[x-placement^="left"] {
      margin-right: 5px;
  
      .tooltip-arrow {
        border-width: 5px 0 5px 5px;
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        right: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }
    }
  
    &[aria-hidden='true'] {
      visibility: hidden;
      opacity: 0;
      transition: opacity .15s, visibility .15s;
    }
  
    &[aria-hidden='false'] {
      visibility: visible;
      opacity: 1;
      transition: opacity .15s;
    }
  }