.modal-mask {position: fixed;z-index: 9999;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, .2);display: table;transition: opacity .3s ease;
	.overlay {background:transparent;}
}
.modal-enter {opacity: 0;}
.modal-leave-active {opacity: 0;}
.modal-enter .modal-container, .modal-leave-active .modal-container {-webkit-transform: scale(1.1);transform: scale(1.1);}
.modal-dismiss {
	position: absolute;
    right: 30px;
    font-size: 24px;
    top: 30px;
}
 
@media(max-width: 1100px) {
    .modal-mask.modal--upload-picture .modal-container .content{
         width: 100%;
         max-width: 345px;
         .modal__heading { font-family: 'lato-bold', sans-serif ;}
    }
    .modal-login {
    	.modal-container {max-height:inherit;height:100vh;}
	}
	.modal-login-membership .modal-container {height: 100vh;padding: 60px 16px 40px;overflow: scroll;}
	.custom-modal.modal-photo.modal-mask{
		background: #fff;
	}
	.custom-modal.modal-photo .content-wrapper{
		padding-top: 40px;
	}
	.custom-modal.modal-photo .outer-links a{
		color:black;
	}
	.custom-modal.modal-photo .content-wrapper .content .card .block-caption{
		text-align: left;
		max-height: 114px;
		overflow: hidden;
		text-overflow: ellipsis;
		position: relative;
		display: block;
		padding: 12px;
	}
	.custom-modal.modal-photo .content-wrapper .content .card .block-profile{
		padding: 0 0 12px;
	}
}

@media(max-height: 750px) {
	.modal-photo {
		.content-wrapper {align-items:flex-start;padding:48px 0 0;margin:0;overflow-y:auto;}
	}
}

