$pagination-button-color: #000;
$pagination-button-text-color: #fff;

input {
  padding: 0.5rem;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.pagination {
  &__input {
    text-align: center;
  }

  &__button {
    border-radius: 0;
    background: $pagination-button-color;
    color: $pagination-button-text-color;
    padding: 0.25rem 0.75rem;
    align-self: stretch;
    display: flex;
    align-items: center;

    &_left {
      i {
        margin-right: 0.5rem;
      }
    }

    &_right {
      i {
        margin-left: 0.5rem;
      }
    }
  }
}

.banners {
  font-size: 1rem;

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &__add-button {
    position: fixed !important;
    right: 1rem;
    bottom: 1rem;
  }

  &__table-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__search {
    align-items: center;
    display: inline-flex;

    input {
      flex: 1;
      margin-left: 0.5rem;
    }
  }

  &__pagination {
    align-items: center;
    display: inline-flex;

    input {
      flex: 1;
    }
  }

  &__table {
    margin-top: 1.5rem;

    th,
    td {
      font-size: 0.875rem;
    }

    img {
      max-height: 5rem;
    }
  }

  &__table-row-action {
    font-size: 1rem;

    i {
      margin-right: 0.25rem;
    }
  }
}
